html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --p-text-color: #757575;
  --brand-color: #2196f3;
  --h-text-color: #212121;
  --ptimary-lighte-color: #fff;
  --background-color-foot-and-hero: #2f303a;
  --bg-color: #f5f4fa;
  --bg-cards: #eeeeee;
}

/* Утилиты */
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto;
  font-weight: 700;

  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: Roboto;
  background-color: var(--ptimary-lighte-color);
}

button {
  font-family: Roboto;
  border: 1px solid transparent;
  border-radius: 4px;
}

.header {
  margin-bottom: 10px;
}

.name {
  margin-bottom: 10px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* main nav */
.main-nav {
  display: flex;
  align-items: center;
}

/* site nav */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--h-text-color);
}

.logo .web {
  color: var(--brand-color);
}

.container {
  max-width: 1600px;
  margin-left: 215px;
  margin-right: 215px;
  margin-bottom: 94px;

  /* outline: 1px solid tomato; */
}

.container .cont-size {
  width: 1170px;
}

.page-header {
  background-color: #ccc;
  margin-bottom: -94px;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--h-text-color);

  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--brand-color);
}

.site-nav .link.current {
  color: var(--brand-color);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contacts .link {
  color: var(--p-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--brand-color);
}

/* Герой */
.hero .heading {
  color: var(--ptimary-lighte-color);
  font-family: Roboto;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 44px;
  line-height: 1.2;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  background-color: var(--background-color-foot-and-hero);
  text-align: center;
  margin-bottom: 94px;
}

.hero .button {
  color: var(--ptimary-lighte-color);
  background-color: var(--brand-color);
  padding: 10px 32px;

  font-size: 16px;
  line-height: 30px;

  min-width: 200px;

  text-align: center;
}

.hero .button:hover,
.hero .button:focus {
  cursor: pointer;
}

/* Преимущества */

.benefits {
  display: flex;
  justify-content: center;
}

.benefits .item {
  width: 270px;
}

.list.benefits .header {
  padding-bottom: 10px;
  margin-bottom: 0;
}

.list .tittle {
  color: var(--p-text-color);
}

.benefits .header {
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.benefits .tittle {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
}

/* Чем занимаемся */

.work .header {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.our-work {
  display: flex;
  justify-content: center;
}

.container .header {
  margin-bottom: 50px;
}

.our-work .item {
  margin-right: 30px;
}

/* Наша команда */
.our-team {
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}

.our-team .item {
  text-align: center;
  margin-right: 30px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.item-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team {
  background-color: var(--bg-color);
}

.team .header {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  padding-top: 94px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.list .tittle {
  color: var(--p-text-color);
}

.list .name {
  color: var(--h-text-color);
}

/* Футер */
.footer {
  background-color: var(--background-color-foot-and-hero);
  text-decoration: none;
}

.footer-logo {
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer .container {
  margin-bottom: -94px;
  margin-top: -94px;
}

.studio {
  color: var(--ptimary-lighte-color);
}

.adres {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;

  padding-bottom: 60px;
}

.adres .place {
  color: var(--ptimary-lighte-color);
  text-decoration: none;
}

.adres .link {
  color: rgba(255, 255, 255, 0.6);
}

.contacts-footer {
  display: block;
}

/* Портфолио */

.hiden {
  display: none;
}

/* Фильтр */

.content {
  width: 1170px;
  justify-content: center;
}

.page-header {
  margin-bottom: 94px;
}

.filtr-cont {
  display: flex;
  justify-content: center;

  width: 1170px;
  margin-top: 94px;
  margin-bottom: 50px;
}

.portfolio a {
  text-decoration: none;
}

.portfolio a:hover,
.portfolio a:focus {
  text-decoration: underline;
  text-decoration-color: var(--brand-color);
}

.filtr {
  display: flex;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
}

.filtr .button.all {
  color: var(--ptimary-lighte-color);
  background-color: var(--brand-color);
}

.portfolio .button {
  color: var(--h-text-color);
  background-color: #f5f4fa;

  padding: 6px 22px;
  margin-left: 8px;
}

.portfolio .button:hover,
.portfolio .button:focus {
  color: var(--ptimary-lighte-color);
  background-color: var(--brand-color);
  cursor: pointer;
}

/* Карточки */

.cards.list {
  margin-bottom: 188px;

  justify-content: center;
  background-color: tomato;
}

.cards .card-header {
  font-size: 18px;
  line-height: 2;
  color: var(--h-text-color);

  letter-spacing: 0.06em;
}

.cards .card-tittle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;
  color: var(--p-text-color);
}

.container.flex-container {
  width: 1360px;
  padding-right: 15px;
  padding-left: 15px;
  /* margin-right: auto;
  margin-left: auto; */

  justify-content: center;
}

.flex-cards {
  display: flex;
  flex-wrap: wrap;
}

.flex-element {
  margin-right: 30px;

  border: 1px solid var(--bg-cards);
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 30px;
}
